#main-footer {
  background-color: #343a40;
  color: #fff;
}

#page-header {
  height: 200px;
  background: url("../assets/bwbackgound.jpg");
  background-position: 54% 95%;
  background-attachment: fixed;
  text-decoration: #0000;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}
